.skeleton-text2 {
    color: transparent;
    border-radius: .4rem;
    margin-bottom: .7rem;

    width: 100%;
    min-height: 1.4rem;

    &:last-child {
        width: 80%;
        margin-bottom: 0;
    }
}

#skeleton-text2 {
    color: transparent;
    // margin-bottom: .5rem;
    border-radius: .4rem;

    width: fit-content;
}

#skeleton-list {
    width: 90%;
    background-color: transparent;
    color: transparent;
    border-radius: .4rem;
}