@use '../components' as *;
@use './skeletonLoadingPlanet';

.planets-page--wrapper {
    background-color: #1f1f1f;
    min-height: 100vh;
}


.planets {
    position: relative;
    padding: 1.5rem 1.3rem;
    margin-inline: auto;
    height: 100%;

    color: white;

    @include breakpoint(medium) {
        padding: 2rem;
    }

    @include breakpoint(large) {
        max-width: $content-width;
        width: 100%;
        padding: 2rem 1.5rem;
    }

    &__topic {
        padding: 0 0 1.2rem 0;

        @include breakpoint(large) {
            padding: 0 0 3rem 0;
        }

        &--title {
            font-size: clamp(1.4rem, 3.3vmin, 2.8rem);
            letter-spacing: 1px;
            word-spacing: 1px;
            font-weight: 700;
            line-height: 1.5;
            border-radius: $borders;

            @include breakpoint(large) {
                width: fit-content;
            }
        }

        &--select-menu__wrap {
            position: relative;
            width: fit-content;

            margin-block: 2rem .5rem;
            margin-inline: auto;

            @include breakpoint(large) {
                margin-top: 3rem;
            }

            .custom-arrow {
                --size: .45em;
                display: block;
    
                position: absolute;
                inset: 0 0 auto auto;
                width: 2.5rem;
                height: 100%;
    
                // background-color: #3b3c47;
                background-color: #4e4f5c;
                pointer-events: none;
                border-radius: .4rem;

                &::after,
                &::before {
                    content: '';

                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                }

                &::before {
                    border-left: var(--size) solid transparent;
                    border-right: var(--size) solid transparent;
                    border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

                    top: 41%;
                }

                &::after {
                    border-left: var(--size) solid transparent;
                    border-right: var(--size) solid transparent;
                    border-top: var(--size) solid rgb(255 255 255 /.5);

                    top: 61%;
                }
            }
        }

        &--select-menu {
            font-family: $openSans;
            font-size: clamp(1.05rem, 3vmin, 1.2rem);
            padding: .7em 2.5em .7em .7em;
            background-color: #3d3d42;
            color: white;

            border: none;
            border-radius: .4rem;
            outline: none;

            option {
                font-family: inherit;
            }
        }
    }

    &__container {
        padding-inline: .4rem;
    }


    &__card {
        word-spacing: 1.2px;

        &--title {
            font-size: clamp(1.5rem, 5vmin, 3rem);
            color: #e96a76;
            font-family: $ubuntu;
            letter-spacing: 1px;
        }


        &--img-info--wrap {
            padding: 2rem 0 1.2rem 0;

            @include breakpoint(large) {
                display: flex;
                align-items: start;
                flex-direction: row-reverse;
                gap: 5rem;

                padding-top: 1.7rem;
                width: 100%;
            }
        }

        // img wrapper
        &--img {
            --edges: .7rem;
            border-radius: var(--edges);
            // box-shadow: 0 .1rem .5rem 0 #e96a76;

            @include breakpoint(large) {
                flex: 1 1 47%;
                padding-top: 6rem;
            }


            &-src {
                min-height: 12rem;
                border-radius: var(--edges);
                user-select: none;

                @include breakpoint(large) {
                    min-height: 24rem;
                    // max-height: 26rem;
                }
            }
        }


        &--info {
            flex: 1 1 55%;
            line-height: 2;        

            &-local {
                line-height: 1.9;
                letter-spacing: .8px;
                font-size: clamp(1.02rem, 3vmin, 1.2rem);
                font-family: $openSans;
            }

            &-local[data-view="desktop"] {
                display: none;
                padding: 2rem 0 0 0;

                @include breakpoint(large) {
                    display: block;                    
                }
            }

            &-local[data-view="mobile"] {
                padding: 1rem 0 0 0;

                @include breakpoint(large) {
                    display: none;
                }
            }


            &-foreign {
                padding: 2rem 0 0 0;

                line-height: 1.9;
                letter-spacing: .8px;
                font-size: clamp(1.02rem, 3vmin, 1.2rem);
                font-family: $openSans;

                word-wrap: break-word;

                .bs {
                    margin-bottom: .7rem;
                }

                .moon {
                    width: 100%;
                    margin-top: 1.5rem;

                    text-align: left;

                    @include breakpoint(large) {
                        margin-top: 3rem;
                    }

                    &__of {
                        width: fit-content;
                    }

                    &__list {
                        margin: 1rem 0 0 0;
                        max-height: 14rem;
                        height: 100%;

                        font-size: clamp(1.02rem, 3vmin, 1.2rem);
                        text-indent: 1.5rem;
                        
                        overflow-y: scroll;

                        @include breakpoint(large) {
                            max-height: 20rem;
                        }

                        scrollbar-width: thin;
                        
                        &::-webkit-scrollbar {
                            width: .8rem;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: hsla(0, 0%, 85%, 0.8);
                            border-radius: 1rem;
                            border: .2rem solid #252525;

                            &:hover {
                                background-color: hsla(0, 0%, 85%, 0.6);
                            }
                        }

                        &::-webkit-scrollbar-track {
                            background-color: #252525;
                        }

                        &--items {
                            // position: relative;
                            // z-index: -1;
                            margin-bottom: 1.2rem;
                            padding-block: .25rem;
                            width: 95%;

                            font-weight: 500;
                            // background-color: #e96a76;
                            // color: black;
                            border-radius: $borders;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}