.skeleton-text {
    color: transparent;
    margin-bottom: .5rem;
    border-radius: .4rem;

    width: fit-content;
}

#skeleton-text {
    color: transparent;
    margin-bottom: .5rem;
    border-radius: .4rem;

    width: fit-content;
}