@use '../components' as *;

.mars-rover-page--wrapper {
    min-height: 100vh;
    background-color: #1f1f1f;
}

.mars-rover {
    $accent-clr: hsl(199, 100%, 45%);

    position: relative;
    padding: 1.5rem 1.3rem;
    margin-inline: auto;

    @include breakpoint(medium) {
        padding: 2rem;
    }

    @include breakpoint(large) {
        max-width: $content-width;
        width: 100%;
        padding: 2rem 1.5rem;
    }

    // for topic title and navigation
    &__topic {
        padding: 0 0 1.2rem 0;

        @include breakpoint(large) {
            padding: 0 0 3rem 0;
        }

        &--title {
            font-size: clamp(1.4rem, 3.3vmin, 2.8rem);
            letter-spacing: 1px;
            word-spacing: 1px;
            font-weight: 700;
            line-height: 1.5;
            border-radius: $borders;

            color: #fff;

            @include breakpoint(large) {
                width: fit-content;
            }
        }

        &--nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // outline: 1px solid red;
            padding: 1.2rem 1rem 0 1rem;
            min-width: 100%;
        
            .btn {
                display: block;

                padding: .2rem 1rem;
                font-size: 1.8rem;
                color: #fff;
                background-color: hsl(199, 100%, 45%);
                border: none;
                border-radius: $borders;

                cursor: pointer;
                transition: .2s ease background-color;

                -webkit-tap-highlight-color: transparent;

                // &:hover,
                // &:focus {
                //     background-color:hsl(199, 100%, 30%);
                // }
            }
        }
    }

    
    // for the actual <ul> list 
    &__list {
        display: grid;
        align-items: start;
        align-content: start;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2.8rem;

        margin-block: 1rem;
    }
    
    // <li>
    &__items {
        display: block;
        padding-inline: 1rem;
    }
    
    &__card {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        
        min-height: 14rem;        
        
        font-family: $openSans;
        color: #fff;
        border-radius: .3rem;
        box-shadow: 0 .3rem .5rem 0 rgb(0 0 0 / .75);
        overflow: hidden;

        @include breakpoint(medium) {
            margin-bottom: 1.5rem;
        }

        &--header {
            display: grid;
            place-items: center;
            min-width: 100%;
            overflow: hidden;

            &--img-src {
                min-width: 100%;
                min-height: 14rem;
                max-height: 14rem;
                
                text-align: center;
                user-select: none;

                @include breakpoint(large) {

                    transition: .3s ease transform;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }

        &--body {
            width: 100%;
            padding: .5rem 1rem 1rem 1rem;

            font-size: clamp(.92rem, 3vmin, 1.02rem);
            font-weight: 500;

            word-spacing: 1px;
            letter-spacing: .4px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);

            &-date {
                line-height: 1.6;

                .photo-id {
                    color: hsl(199, 100%, 80%);
                }
            }

            &-rover {
                padding-top: 1rem;
                width: 100%;
            }            
        }


        .rover-status {
            color: hsl(115, 100%, 85%);
        }

        .full-image {
            display: block;
            margin: 1rem 0 0 auto;
            padding: .5em .65em;
            width: fit-content;

            font-size: clamp(.8rem, 3vmin, .92rem);
            font-size: 500;
            border-radius: $borders;
            outline: 1px solid hsl(199, 100%, 45%);
            outline-offset: 1px;

            background-color: hsl(199, 100%, 92%);
            // color: $accent-clr;
            color: #333;
        }
    }

}